p.a { 
    word-spacing: 45px;
  }
    
  .container {
      width: 100%;
      position: absolute;
      top: 20%;
      text-align: center;
  }
  h1 {
      font-weight: 900;
  }
  a {
      text-decoration: none;
      color: #212121;
  }
  @-webkit-keyframes gradientBG {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  @keyframes gradientBG {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
    .header {
    padding: 8px 14px;
    background: white;
    color: white ;
    
    top: 0;
    width: 100%;
  }
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  